In [17]:
import pandas as pd
from sqlalchemy import create_engine 
from datetime import datetime
import time

In [22]:
air_pollution = "../pollution_clean.csv"
new_poll_df = pd.read_csv(air_pollution)
new_poll_df.head(10)

   id county  year   no2_mean   o3_mean  so2_mean   co_mean
0   0    Ada  2009   6.337446  0.034156  0.221077  0.141606
1   1    Ada  2010   9.397005  0.026446  0.323220  0.179643
2   2    Ada  2011   9.925650  0.012999  0.715267  0.272311
3   3  Adair  2009   3.091433  0.028904  0.626132  0.165453
4   4  Adair  2010   3.380287  0.033018  0.962575  0.161624
5   5  Adair  2011   3.951843  0.038431  1.190234  0.174279
6   6  Adair  2012   3.491883  0.036540  0.509925  0.170800
7   7  Adams  2009  14.221771  0.026827  1.368419  0.355580
8   8  Adams  2010  16.171138  0.022955  1.028090  0.365696
9   9  Adams  2011  17.526491  0.027845  1.407494  0.332983

In [23]:
#new_poll_df = pollution_df[(pollution_df["date_local"]>"2009-01-02") & (pollution_df["date_local"] <= "2012-12-31")]
#new_poll_df.head()

#pollution = pollution.fillna(0)

#pollution['id'] = range(len(pollution))
#pollution.set_index("id", inplace=True)

#new_poll_df.rename(columns={'Unnamed: 0':'id'}, inplace=True)


new_poll_df.set_index("id", inplace=True)
new_poll_df.head()

   county  year  no2_mean   o3_mean  so2_mean   co_mean
id
0     Ada  2009  6.337446  0.034156  0.221077  0.141606
1     Ada  2010  9.397005  0.026446  0.323220  0.179643
2     Ada  2011  9.925650  0.012999  0.715267  0.272311
3   Adair  2009  3.091433  0.028904  0.626132  0.165453
4   Adair  2010  3.380287  0.033018  0.962575  0.161624

In [24]:
#renamed_pollution = new_poll_df.rename(columns={'NO2 Mean':'no2_mean','O3 Mean':'o3_mean', 'SO2 Mean':'so2_mean', 'CO Mean':'co_mean'})
#renamed_pollution.head()

new_poll_df.head()

   county  year  no2_mean   o3_mean  so2_mean   co_mean
id
0     Ada  2009  6.337446  0.034156  0.221077  0.141606
1     Ada  2010  9.397005  0.026446  0.323220  0.179643
2     Ada  2011  9.925650  0.012999  0.715267  0.272311
3   Adair  2009  3.091433  0.028904  0.626132  0.165453
4   Adair  2010  3.380287  0.033018  0.962575  0.161624

In [21]:
#renamed_poll.head()

   county  year  NO2_mean   O3_mean  SO2_mean   CO_mean
id
0     Ada  2009  6.337446  0.034156  0.221077  0.141606
1     Ada  2010  9.397005  0.026446  0.323220  0.179643
2     Ada  2011  9.925650  0.012999  0.715267  0.272311
3   Adair  2009  3.091433  0.028904  0.626132  0.165453
4   Adair  2010  3.380287  0.033018  0.962575  0.161624

In [46]:
#new_poll_df = new_poll_df[["state", "county", "city", "NO2_mean", "O3_mean", "SO2_mean", "CO_mean", "year"]].copy()

#new_poll_df.head()

In [25]:
#new_poll_df = new_poll_df.groupby(['county', 'year'], as_index=False).mean()
#new_poll_df.index.name = 'id'
#new_poll_df.head()

In [120]:
#pollution.rename(columns={'State': 'state','County':'county', 'City':'city', 'Date Local':'date_local', 'NO2 Mean':'NO2_mean','O3 Mean':'O3_mean', 'SO2 Mean':'SO2_mean', 'CO Mean':'CO_mean'}, inplace=True)

#pollution['year'] = pollution['date_local'].apply(lambda x: x.split('-')[0])

#pollution['year'] = pollution.to_datetime(pollution['date_local']).dt.year


#pollution.head()

In [26]:
#new_poll_df = new_poll_df.rename(columns={'NO2 Mean':'no2_mean','O3 Mean':'o3_mean', 'SO2 Mean':'so2_mean', 'CO Mean':'co_mean'}, inplace=True)
#new_poll_df.head()

In [27]:
#new_poll_df.head()

In [12]:
asthma_data = "../asthma_clean.csv"
asthma_df = pd.read_csv(asthma_data)
#asthma_df.columns = ['Unnamed: 0','county', 'year', 'age', 'number_of_visits']
#asthma_df.rename(columns={'Unnamed: 0':'id','county': 'age', 'year': 'number_of_visits', 'age': 'county', 'number_of_visits':'year'}, inplace=True)

asthma_df.head(10)

   id  year              age  number_of_visits       county
0   0  2012          AllAges             433.0  Los Angeles
1   1  2012  Children (0-17)             221.0  Los Angeles
2   2  2012     Adults (18+)             212.0  Los Angeles
3   3  2012          AllAges             438.0  Los Angeles
4   4  2012  Children (0-17)             215.0  Los Angeles
5   5  2012     Adults (18+)             223.0  Los Angeles
6   6  2012          AllAges             559.0  Los Angeles
7   7  2012  Children (0-17)             295.0  Los Angeles
8   8  2012     Adults (18+)             264.0  Los Angeles
9   9  2012          AllAges             365.0  Los Angeles

In [19]:
#asthma = asthma_df[["id","year", "age", "number_of_visits", "county"]].copy()
asthma_df['county'] = asthma_df['county'].str.title()
#asthma_df.set_index("id", inplace=True) 

#asthma = asthma.fillna(0)

asthma_df.head()

    year              age  number_of_visits       county
id
0   2012          AllAges             433.0  Los Angeles
1   2012  Children (0-17)             221.0  Los Angeles
2   2012     Adults (18+)             212.0  Los Angeles
3   2012          AllAges             438.0  Los Angeles
4   2012  Children (0-17)             215.0  Los Angeles

In [58]:
asthma_df = asthma_df.groupby(['year', 'age', 'county'], as_index=False).mean()

asthma_df.index.name = 'id'

asthma_df.head(10)

    year           age        county  number_of_visits
id
0   2009  Adults (18+)       Alameda        146.217391
1   2009  Adults (18+)        Amador         16.400000
2   2009  Adults (18+)         Butte         88.888889
3   2009  Adults (18+)     Calaveras         17.750000
4   2009  Adults (18+)        Colusa          7.000000
5   2009  Adults (18+)  Contra Costa        129.277778
6   2009  Adults (18+)     Del Norte         46.500000
7   2009  Adults (18+)     El Dorado         34.250000
8   2009  Adults (18+)        Fresno         79.390244
9   2009  Adults (18+)         Glenn         17.333333

In [28]:
new_poll_df.to_csv("../pollution_clean.csv")

In [59]:
asthma_df.to_csv("../asthma_clean.csv")

In [31]:
rds_connection_string = "postgres:postgres@localhost:5432/asthma_vs_pollution_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [32]:
engine.table_names()

['asthma', 'pollution']

In [60]:
asthma_df.to_sql(name='asthma', con=engine, if_exists='append', index=True)

In [33]:
new_poll_df.to_sql(name="pollution", con=engine, if_exists='append', index=True)