In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
air_pollution = "../pollution_clean.csv"
pollution_df = pd.read_csv(air_pollution)
pollution_df.head(1)

,County,State,City,Date Local,NO2 Mean,O3 Mean,SO2 Mean,CO Mean
0,Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.00975,1.333333,0.308333

In [9]:
new_poll_df = pollution_df[(pollution_df["Date Local"]>"2009-01-02") & (pollution_df["Date Local"] <= "2012-12-31")]
new_poll_df.head()

pollution = new_poll_df[["State", "County", "City", "Date Local", "NO2 Mean", "O3 Mean", "SO2 Mean", "CO Mean"]].copy()
pollution.set_index("County", inplace=True)
pollution.head()

,State,City,Date Local,NO2 Mean,O3 Mean,SO2 Mean,CO Mean
County,,,,,,,
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.333333,0.308333
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.333333,0.412500
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.312500,0.308333
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.312500,0.412500
Maricopa,Arizona,Phoenix,2009-01-04,19.250000,0.010208,0.666667,0.287500

In [11]:
asthma_data = "../asthma_clean.csv"
asthma_df = pd.read_csv(asthma_data)
asthma_df.head(1)

        county  year age_group  number_of_visits
0  LOS ANGELES  2012   AllAges             433.0

In [46]:
asthma = asthma_df[["year", "age_group", "number_of_visits", "county"]].copy()
asthma['county'] = asthma['county'].str.title()
asthma.set_index("county", inplace=True) 
asthma.head()

             year        age_group  number_of_visits
county
Los Angeles  2012          AllAges             433.0
Los Angeles  2012  Children (0-17)             221.0
Los Angeles  2012     Adults (18+)             212.0
Los Angeles  2012          AllAges             438.0
Los Angeles  2012  Children (0-17)             215.0

In [47]:
pollution.to_csv("../pollution_clean.csv")

In [48]:
asthma.to_csv("../asthma_clean.csv")

In [49]:
rds_connection_string = "postgres:postgres@localhost:5432/asthma_vs_pollution_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [50]:
engine.table_names()

[]