In [2]:
import pandas as pd

In [3]:
air_pollution = "pollution_us_2000_2016.csv"
pollution_df = pd.read_csv(air_pollution)
pollution_df.head(1)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.0,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN

In [4]:
new_poll_df = pollution_df[(pollution_df["Date Local"]>"2009-01-02") & (pollution_df["Date Local"] <= "2012-12-31")]
new_poll_df.head()

pollution = new_poll_df[["State", "County", "City", "Date Local", "NO2 Mean", "O3 Mean", "SO2 Mean", "CO Mean"]].copy()
pollution.set_index("County", inplace=True)
pollution.head()

,State,City,Date Local,NO2 Mean,O3 Mean,SO2 Mean,CO Mean
County,,,,,,,
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.333333,0.308333
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.333333,0.412500
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.312500,0.308333
Maricopa,Arizona,Phoenix,2009-01-03,22.541667,0.009750,1.312500,0.412500
Maricopa,Arizona,Phoenix,2009-01-04,19.250000,0.010208,0.666667,0.287500

In [5]:
asthma_data = "asthma_emergency_department_visit_rates_by_zip_code.csv"
asthma_df = pd.read_csv(asthma_data)
asthma_df.head(1)

,year,zip_code,age_group,number_of_visits,age_adjusted_rate,county_fips_code,county
0,2012,"90001\n(33.973271508000494, -118.24896959899968)",AllAges,433.0,76.2,6037,LOS ANGELES

In [7]:
asthma = asthma_df[["year", "age_group", "number_of_visits", "county"]].copy()
asthma.set_index("county", inplace=True)
asthma.head()

             year        age_group  number_of_visits
county
LOS ANGELES  2012          AllAges             433.0
LOS ANGELES  2012  Children (0-17)             221.0
LOS ANGELES  2012     Adults (18+)             212.0
LOS ANGELES  2012          AllAges             438.0
LOS ANGELES  2012  Children (0-17)             215.0

In [9]:
pollution.to_csv("../pollution_clean.csv")

In [10]:
asthma.to_csv("../asthma_clean.csv")